
body {
  padding-top: 10px;
  margin: 2%;

  background-color: #b3b3b3;
  text-align: center;
}
h1 {
  background-color: black;
  color: #e6e6e6;
  font-size: 2vw;
  text-align: center;
}
#image {
  line-height: 650px;
  width: 700px;
  height: 700px;
  border: 5px solid black;
  margin: 0 auto;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  background-size: 100%;
  margin-bottom: 25px;
  font-size: 150%;
}
.preview {
  width: 20%;
  margin-left: 17%;
  border: 10px solid black;
}
/* img{
    width:95%;
} */
.float-container {
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}
h3 {
    color: white
}

.links{
    font-size: 150%;
    background-color: black;
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
}
a:link {
    color: rgb(255, 255, 255);
   
    }
    
    
  a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    }
    
    
  a:hover {
    color: rgb(184, 129, 28);
    text-decoration: none;
    }
    
    
  a:active {
    color: red;
    text-decoration: none;
    }
    *{
        font-family: Arial, Helvetica, sans-serif;
      
        }
  img{
    color: #000;
    font-weight: bolder;
    font-size: 20px ; 
  }
