

body {
    color: rgba(138, 50, 54, 0.897);
}
h1{
    background-color: black;
}
h3{
    color: black;
}
h4{
    color: rgb(184, 129, 28);
    font-variant: small-caps;
}

a:link {
    color: rgb(255, 255, 255);
  }
  
  
a:visited {
    color: lightblue;
  }
  
  
a:hover {
    color: rgb(184, 129, 28);
  }
  
  
a:active {
    color: blue;
  }
  *{
    font-family: Arial, Helvetica, sans-serif;

  }
  table{
    background:rgb(82, 8, 8);
    border: solid black 2px;
    width: 80%;
  }
  strong{
    color: rgb(184, 129, 28);
    font-variant: small-caps;
    
    
  }
  img{
    border: black outset 2px;
  }
  td{
    color: white;
  }
